html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.calendar-wrapper{
    height: inherit;
    width: inherit;
    background: black;
}

.single-day {
    height: inherit;
    float: left;
    background: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid yellow;
}

.sd-header {
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: green;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid crimson;
}

.sd-body {
    position: relative;
    float: top;
    background: blue;
    height: calc(100% - 30px);
}

.event {
    color: white;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid orange;
}

@media screen and (max-width: 700px) {
    .single-day {
        width: 100%;
        margin-left: 0;
        clear: none;
    }
}