html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.calendar-wrapper{
    height: inherit;
    width: inherit;
}

.single-day {
    height: inherit;
    float: left;
    background: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid midnightblue;
}

.sd-header {
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: lightblue;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid dodgerblue;
}

.sd-body {
    background-color: aliceblue;
    position: relative;
    float: top;
    height: calc(100% - 30px);
}

.event {
    color: darkred;
    background-color: coral;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid orangered;
    vertical-align: middle;
}

@media screen and (max-width: 700px) {
    .single-day {
        width: 100%;
        margin-left: 0;
        clear: none;
    }
}